* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

:root {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    --black-900: #101010;
    --black-800: rgba(0, 0, 0, 0.6);
    --black-700: #262626;
    --gray-500: #555555;
    --gray-200: #D5D5D5;
    --gray-100: #E5E5E5;
    --blue-900: #142159;
    --blue-500: #2E44A1;
    --blue-300: #425DC7;
    --blue-100: #DAE0E4;
    --white-900: #FFFFFF;
    --white-500: #F2F2F2;
    --red-800: #EB0045;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
   border: 0;   
   cursor: pointer
}

.button {
    height: 2.25rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0.3125rem;
    padding: 0.625rem;
    color: #2E44A1;
    font-size: 0.75rem;
    font-weight: 600;
}
input {
    height: 3rem;
    border: 0.0625rem solid #000;
    border-radius: 0.25rem;
    padding: 0.75rem;
}

ul {
    list-style: none;
}

.container {
    background-color: #E5E5E5;
    min-height: 100vh;
    width: 100%;
}

.content-flex {
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.gap-1 {
    gap:1rem;
}
.gap-1_625 {
    gap: 1.625rem
}
.gap-3 {
    gap: 3rem;
}
.align-end {
    align-items: end;
}